<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Thế giới điện thoại</title>
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" />

    <!-- Load font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">

    <!-- owl carousel libraries -->
    <link rel="stylesheet" href="~/Content/js/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/js/owlcarousel/owl.theme.default.min.css">
    <script src="~/Content/js/Jquery/Jquery.min.js"></script>
    <script src="~/Content/js/owlcarousel/owl.carousel.min.js"></script>

    <!-- tidio - live chat -->
    <!-- <script src="//code.tidio.co/bfiiplaaohclhqwes5xivoizqkq56guu.js"></script> -->
    <!-- our files -->
    <!-- css -->
    <link href="~/Content/css/banner.css" rel="stylesheet" />
    <link href="~/Content/css/baohanh.css" rel="stylesheet" />
    <link href="~/Content/css/chitietsanpham.css" rel="stylesheet" />
    <link href="~/Content/css/footer.css" rel="stylesheet" />
    <link href="~/Content/css/gioHang.css" rel="stylesheet" />
    <link href="~/Content/css/gioithieu.css" rel="stylesheet" />
    <link href="~/Content/css/header.css" rel="stylesheet" />
    <link href="~/Content/css/home_products.css" rel="stylesheet" />
    <link href="~/Content/css/lienhe.css" rel="stylesheet" />
    <link href="~/Content/css/nguoidung.css" rel="stylesheet" />
    <link href="~/Content/css/pagination_phantrang.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/taikhoan.css" rel="stylesheet" />
    <link href="~/Content/css/tintuc.css" rel="stylesheet" />
    <link href="~/Content/css/topnav.css" rel="stylesheet" />
    <link href="~/Content/css/trangchu.css" rel="stylesheet" />
    <link href="~/Content/css/tuyendung.css" rel="stylesheet" />

    <!-- js -->
    <script src="~/Scripts/data/products.js"></script>
    <script src="~/Scripts/js/dungchung.js"></script>
    <script src="~/Scripts/js/classes.js"></script>
    <script src="~/Scripts/js/admin.js"></script>
    <script src="~/Scripts/js/chitietsanpham.js"></script>
    <script src="~/Scripts/js/giohang.js"></script>
    <script src="~/Scripts/js/lienhe.js"></script>
    <script src="~/Scripts/js/nguoidung.js"></script>
    <script src="~/Scripts/js/trangchu.js"></script>
</head>
<body>
    <header>
        <script>addTopNav();</script>
        <section>
            <script>addHeader();</script>
        </section>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="footer">
        <script>addFooter()</script>
    </div>
</body>
</html>
